.footer-footer {

  $link-color: $white;
  $link-hover-color: $grey-light;
  $title-font-size: map-get($font-sizes, md);
  $image-max-width: rem(135px);
  $image-max-height: rem(140px);

  &__title {
    font-family: 'Times New Roman', Times, serif;
    font-size: $title-font-size;
  }

  &__icon {
    @include size(rem(20px));
  }

  &__link {
    fill: $link-color;

    &:hover {
      fill: $link-hover-color;
    }
  }

  &__image {
    height: $image-max-height;
    max-width: $image-max-width;
    background: no-repeat center;
    background-size: cover;
  }

  @include media-breakpoint-up(md) {

    & > .container {
      display: grid;
      display: -ms-grid;
      grid-template-columns: 20fr 60fr 35fr;
      -ms-grid-columns: 20fr 60fr 35fr;
      grid-template-rows: auto auto auto auto;
      -ms-grid-rows: auto auto auto auto;
    }

    &__form {
      -ms-grid-column: 3;
      -ms-grid-row-span: 3;
      grid-column: 3/4;
      grid-row: 1/4;
    }

    &__title {
      -ms-grid-column: 2;
      -ms-grid-row: 1;
      grid-column: 2/3;
      grid-row: 1/2;
    }

    &__image {
      -ms-grid-column: 1;
      -ms-grid-row-span: 2;
      grid-column: 1/2;
      grid-row: 1/3;
    }

    &__article {
      -ms-grid-column: 2;
      -ms-grid-row: 2;
      -ms-grid-row-span: 3;
      grid-column: 2/3;
      grid-row: 2/5;
    }

    &__social-nav {
      -ms-grid-column: 1;
      -ms-grid-row: 3;
      grid-column: 1/2;
      grid-row: 3/4;
    }

    &__footer {
      -ms-grid-column: 1;
      -ms-grid-column-span: 4;
      -ms-grid-row: 4;
      grid-column: span 4;
      grid-row: span -1;
    }
  }
}
