.footer-header {

  &__link {

    &:hover {
      text-decoration: none;
    }
  }
}

.footer-content {
  overflow: hidden;
}

.footer-footer {

  &__title {
    font-family: 'Times New Roman', Times, serif;
    font-size: rem(22px);
  }
}
