.main-banner {
  $font-color: $white;
  $title-font-size: map-get($font-sizes, xl);

  height: 50vh;
  background: purple no-repeat center;
  background-size: cover;

  &__title {
    font-size: $title-font-size;
    color: $font-color;
  }
}
