.main-banner {
  $title-font-color: $white;
  $title-font-size-lg: map-get($font-sizes, lg);
  $title-font-size-xl: map-get($font-sizes, xl);

  height: 15vh;
  background: purple no-repeat center;
  background-size: cover;

  @include media-breakpoint-up(md) {
    height: 50vh;
  }

  &__title {
    font-size: $title-font-size-lg;
    color: $title-font-color;

    @include media-breakpoint-up(md) {
      font-size: $title-font-size-xl;
    }
  }
}
