.main-header {
  $bg-color: theme-color('secondary');
  $padding-y: rem(20px);
  $padding-x: 0;

  padding: $padding-y $padding-x;
  background-color: $bg-color;
}

.header-nav {
  $link-color: theme-color('tertiary');
  $link-hover-color: theme-color('primary');

  &__link {
    color: $link-color;
    fill: $link-color;

    &:active,
    &:hover {
      color: $link-hover-color;
      text-decoration: none;
      fill: $link-hover-color;
    }
  }

  &__icon {
    @include size(rem(20px));
  }
}
